<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/Convert_list_of_list_into_single_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import itertools

In [2]:
list1= [[1,2],[3,4],[5,6]]
lst= list(itertools.chain.from_iterable(list1))
print(lst)

[1, 2, 3, 4, 5, 6]

In [3]:
#Partitions a list into N Groups

list1= ['Sum','Flowers','Peoples','Animals','Day','Night']
partition=list(zip(*[iter(list1)]*2))
print(partition)

[('Sum', 'Flowers'), ('Peoples', 'Animals'), ('Day', 'Night')]

In [5]:
#take the string as input and convert it into list
formatted_list=list(map(int,input().split()))
print(formatted_list)

1 2 3 4
[1, 2, 3, 4]

In [6]:
# printing more than one list simultaneously
list1 =[1,3,5,7]
list2 =[2,4,6,8]

# here zip() function takes two equal length list and merges them
#together in pairs
for a ,b in zip(list1,list2):
  print(a,b)

1 2
3 4
5 6
7 8