<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/DateTime_Play.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from datetime import date

In [0]:
d1= date(2020,4,23)

In [6]:
d1

datetime.date(2020, 4, 23)

In [7]:
type(d1)

datetime.date

In [0]:
d2 = date.today()

In [11]:
d2

datetime.date(2020, 5, 7)

In [12]:
# day
print('Day :',d2.day)

Day : 7

In [8]:
# month
print('Month :',d2.month)

Month : 5

In [13]:
# year
print('Year :',d2.year)

Year : 2020

In [14]:
from datetime import time

t1 = time(13,20,13,40)

print(t1)

print(type(t1))

13:20:13.000040
<class 'datetime.time'>

In [15]:
# hour
print('Hour :',t1.hour)
# minute
print('Minute :',t1.minute)
# second
print('Second :',t1.second)
# microsecond
print('Microsecond :',t1.microsecond)

Hour : 13
Minute : 20
Second : 13
Microsecond : 40

In [17]:
from datetime import datetime
d1 = datetime(2020,4,23,11,20,30,40)
print(d1)
print(type(d1))

2020-04-23 11:20:30.000040
<class 'datetime.datetime'>

In [18]:
# local date-time
d1 = datetime.now()
d1

datetime.datetime(2020, 5, 7, 18, 9, 26, 712386)

In [19]:
print('Datetime :',d1)
# date
print('Date :',d1.date())
# time
print('Time :',d1.time())
# new datetime
print('New datetime :',d1.replace(day=24, hour=14))

Datetime : 2020-05-07 18:09:26.712386
Date : 2020-05-07
Time : 18:09:26.712386
New datetime : 2020-05-24 14:09:26.712386

In [21]:
d1 = datetime.now()
# week starts from 0
print(d1.weekday()) # output 3 for Thurday
# week starts with 1
print(d1.isoweekday()) # output 4 in ISO format

3
4

In [22]:
d1 = datetime.now()
# retuns year, week, month
print(d1.isocalendar())
print('Week :',d1.isocalendar()[1])

(2020, 19, 4)
Week : 19

In [23]:
import calendar
d1 = datetime.now()
# leap year or not
calendar.isleap(d1.year) # Output True

True

In [24]:
# Its was April when I wrote this
print(calendar.month(2020,4))

     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [25]:
print(calendar.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [28]:
d1_datetime = date(2020,4,23)
print(d1_datetime)
print(type(d1_datetime))
d1_ISO = date(2020,4,23).isoformat()
print(d1_ISO)
print(type(d1_ISO))

2020-04-23
<class 'datetime.date'>
2020-04-23
<class 'str'>

In [30]:
# date in string format
d1 = datetime.now()
# string format for date
print(d1.ctime())
# slicing to extract date
print(d1.ctime()[:10])

Thu May  7 18:35:01 2020
Thu May  7

In [31]:
date(2020,4,23).__format__('%Y/%m/%d')

'2020/04/23'

In [32]:
# strptime
date = '22 April, 2020 13:20:13'
d1 = datetime.strptime(date,'%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2020-04-22 13:20:13
<class 'datetime.datetime'>

In [31]:
# strftime
d1 = datetime.now()
print('Datetime object :',d1)
new_date = d1.strftime('%d/%m/%Y %H:%M')
print('Formatted date :',new_date)
print(type(new_date))

Datetime object : 2020-05-07 03:16:03.455316
Formatted date : 07/05/2020 03:16
<class 'str'>

In [32]:
d1 = datetime.now()
print('Weekday :',d1.strftime('%A'))
print('Month :',d1.strftime('%B'))
print('Week number :',d1.strftime('%W'))
print("Locale's date and time representation :",d1.strftime('%c'))

Weekday : Thursday
Month : May
Week number : 18
Locale's date and time representation : Thu May  7 03:16:20 2020

In [33]:
# timedelta : duration between dates
d1 = datetime(2020,4,23,11,13,10)
d2 = datetime(2021,4,23,12,13,10)
duration = d2-d1
print(type(duration))
duration

<class 'datetime.timedelta'>

datetime.timedelta(365, 3600)

In [34]:
print(duration.days) # 365
print(duration.seconds) # 3600

365
3600

In [35]:
from datetime import timedelta
# duration in hours
print('Duration in hours :',duration/timedelta(hours=1))
# duration in minutes
print('Duration in minutes :',duration/timedelta(minutes=1))
# duration in seconds
print('Duration in seconds :',duration/timedelta(seconds=1))

Duration in hours : 8761.0
Duration in minutes : 525660.0
Duration in seconds : 31539600.0

In [36]:
d1 = datetime.now()
d1+5

TypeError: ignored

In [37]:
d1 = datetime.now()
print("Today's date :",d1)

d2 = d1+timedelta(days=2)
print("Date 2 days from today :",d2)

d3 = d1+timedelta(weeks=2)
print("Date 2 weeks from today :",d3)

Today's date : 2020-05-07 18:35:49.500633
Date 2 days from today : 2020-05-09 18:35:49.500633
Date 2 weeks from today : 2020-05-21 18:35:49.500633

In [38]:
import pandas as pd
# to_datetime
date = pd.to_datetime('24th of April, 2020')
print(date)
print(type(date))

2020-04-24 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [45]:
# timedelta
import numpy as np
date = datetime.now()
# present date
print(date)
# date after 1 day
print(date+pd.to_timedelta(1,unit='d'))
# date after 1 month
print(date+pd.to_timedelta(1,unit='m'))

2020-05-07 18:50:57.334743
2020-05-08 18:50:57.334743
2020-05-07 18:51:57.334743

In [44]:
import numpy as np
date = datetime.now()
# present date
print(date)
print(date+pd.to_timedelta(1,unit='m'))

2020-05-07 18:50:41.708964
2020-05-07 18:51:41.708964

In [46]:
pd.date_range(start='24/4/2020', end='24/5/2020', freq='D')

DatetimeIndex(['2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
               '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
               '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24'],
              dtype='datetime64[ns]', freq='D')

In [47]:
from datetime import datetime
start_date = datetime.today()
dates_start = pd.date_range(start=start_date, periods=10, freq='T')
dates_start[:5]

DatetimeIndex(['2020-05-07 18:51:33.295305', '2020-05-07 18:52:33.295305',
               '2020-05-07 18:53:33.295305', '2020-05-07 18:54:33.295305',
               '2020-05-07 18:55:33.295305'],
              dtype='datetime64[ns]', freq='T')

In [48]:
dates_end = pd.date_range(start=start_date, periods=10, freq='D')
dates_end[:5]

DatetimeIndex(['2020-05-07 18:51:33.295305', '2020-05-08 18:51:33.295305',
               '2020-05-09 18:51:33.295305', '2020-05-10 18:51:33.295305',
               '2020-05-11 18:51:33.295305'],
              dtype='datetime64[ns]', freq='D')

In [49]:
import random
randomList = []
for i in range(10):
    randomList.append(random.randint(0,1))

# dataframe
df = pd.DataFrame()
df['Start_date'] = dates_start
df['End_date'] = dates_end
df['Target'] = randomList

df.head()

                  Start_date                   End_date  Target
0 2020-05-07 18:51:33.295305 2020-05-07 18:51:33.295305       0
1 2020-05-07 18:52:33.295305 2020-05-08 18:51:33.295305       0
2 2020-05-07 18:53:33.295305 2020-05-09 18:51:33.295305       1
3 2020-05-07 18:54:33.295305 2020-05-10 18:51:33.295305       0
4 2020-05-07 18:55:33.295305 2020-05-11 18:51:33.295305       1

In [0]:
# day
df['Day'] = df['Start_date'].dt.day
# month
df['Month'] = df['Start_date'].dt.month
# year
df['Year'] = df['Start_date'].dt.year
# hour
df['Start_hour'] = df['Start_date'].dt.hour
# minute
df['Start_minute'] = df['Start_date'].dt.minute
# second
df['Start_second'] = df['Start_date'].dt.second
# Monday is 0 and Sunday is 6
df['Start_weekday'] = df['Start_date'].dt.weekday
# week of the year
df['Start_week_of_year'] = df['Start_date'].dt.week
# duration
df['Duration'] = df['End_date']-df['Start_date']

In [0]:
df['Duration_days'] = df['Duration']/timedelta(days=1)
df['Duration_minutes'] = df['Duration']/timedelta(minutes=1)
df['Duration_seconds'] = df['Duration']/timedelta(seconds=1)

In [52]:
df

                  Start_date  ... Duration_seconds
0 2020-05-07 18:51:33.295305  ...              0.0
1 2020-05-07 18:52:33.295305  ...          86340.0
2 2020-05-07 18:53:33.295305  ...         172680.0
3 2020-05-07 18:54:33.295305  ...         259020.0
4 2020-05-07 18:55:33.295305  ...         345360.0
5 2020-05-07 18:56:33.295305  ...         431700.0
6 2020-05-07 18:57:33.295305  ...         518040.0
7 2020-05-07 18:58:33.295305  ...         604380.0
8 2020-05-07 18:59:33.295305  ...         690720.0
9 2020-05-07 19:00:33.295305  ...         777060.0

[10 rows x 15 columns]

In [53]:
df.index=df['Start_date']
df['2020-04-24':'2020-04-24'].head()

Empty DataFrame
Columns: [Start_date, End_date, Target, Day, Month, Year, Start_hour, Start_minute, Start_second, Start_weekday, Start_week_of_year, Duration, Duration_days, Duration_minutes, Duration_seconds]
Index: []