<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/01-Python/DateTime_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.analyticsvidhya.com/blog/2021/05/making-programming-with-date-and-time-less-painless/?utm_source=feedburner&utm_medium=email&utm_campaign=Feed%3A+AnalyticsVidhya+%28Analytics+Vidhya%29


https://www.analyticsvidhya.com/blog/2020/05/datetime-variables-python-pandas/#:~:text=datetime%20is%20a%20class%20and,year%20and%20ending%20in%20microseconds.

In [3]:
from datetime import datetime

In [4]:
current_time = datetime.now()
a = datetime.timestamp(current_time)
print(a)

1620776233.99857

In [5]:
a = datetime(2021, 5, 9, 13, 13, 6)
print(a)

2021-05-09 13:13:06

In [6]:
today = datetime.now()
print(today)

2021-05-11 23:37:14.031055

In [7]:
print(type(today))

<class 'datetime.datetime'>

In [8]:
dt_nw = datetime.now()
# to get hour from datetime
print('Hour: ', dt_nw.hour)
# to get minute from datetime
print('Minute: ', dt_nw.minute)

Hour:  23
Minute:  37

In [9]:
import calendar
my_date= datetime.now()
# To get month from date
print('Month: ', my_date.month)
# To get month from year
print('Year: ', my_date.year)
# To get day of the month
print('Day of Month:', my_date.day)
# to get name of day(in number) from date
print('Day of Week (number): ', my_date.weekday())
# to get name of day from date
print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Month:  5
Year:  2021
Day of Month: 11
Day of Week (number):  1
Day of Week (name):  Tuesday

In [10]:
from pytz import timezone

In [11]:
# Create timezone UTC
utc = timezone('UTC')
# Localize date & time
loc = utc.localize(datetime(2020, 5, 10, 17, 41, 0))
print(loc)
# Convert localized date & time into Asia/Dhaka timezone
dhaka = timezone("Asia/Dhaka")
print(loc.astimezone(dhaka))
# Convert localized date & time into Europe/Berlin timezone
berlin = timezone('Europe/Berlin')
print(loc.astimezone(berlin))

2020-05-10 17:41:00+00:00
2020-05-10 23:41:00+06:00
2020-05-10 19:41:00+02:00

In [12]:
from datetime import timedelta
# get current time
now = datetime.now()
print ("Today's date & time: ", str(now))
#add 365 days to current date
future_date_after_one_year = now + timedelta(days = 365)
print('Date & time after one year: ', future_date_after_one_year)
#subtract 7 days from current date
seven_days_ago = now - timedelta(days = 7)
print('Date & time seven days ago: ', seven_days_ago)

Today's date & time:  2021-05-11 23:37:14.209133
Date & time after one year:  2022-05-11 23:37:14.209133
Date & time seven days ago:  2021-05-04 23:37:14.209133

In [13]:
date_str = "10 May, 2021"
# format date
date_obj = datetime.strptime(date_str, "%d %B, %Y")
print("Today's date is: ", date_obj)

Today's date is:  2021-05-10 00:00:00

In [14]:
# current date and time
now = datetime.now()
# format time in HH:MM:SS
time = now.strftime("%H:%M:%S")
print("Time:", time)
# format date
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("Date and Time:",date_time)

Time: 23:37:14
Date and Time: 05/11/2021, 23:37:14

In [15]:
# get current date
now = datetime.now()
# convert current date into timestamp
timestamp = datetime.timestamp(now)
print("Date and Time :", now)
print("Timestamp:", timestamp)

Date and Time : 2021-05-11 23:37:14.256672
Timestamp: 1620776234.256672

In [16]:
timestamp = 1620656274.739358
#convert timestamp to datetime object
date_obj = datetime.fromtimestamp(timestamp)
print("Today's date & time:", date_obj)

Today's date & time: 2021-05-10 14:17:54.739358

In [17]:
import pandas as pd
# create date object using to_datetime() function
date = pd.to_datetime("10th of May, 2021")
print(date)

2021-05-10 00:00:00

In [18]:
from datetime import date
d1 = date(2020,4,23)
print(d1)
print(type(d1))

2020-04-23
<class 'datetime.date'>

In [19]:
# present day date
d1 = date.today()
print(d1)
# day
print('Day :',d1.day)
# month
print('Month :',d1.month)
# year
print('Year :',d1.year)

2021-05-11
Day : 11
Month : 5
Year : 2021

In [20]:
from datetime import time

t1 = time(13,20,13,40)
print(t1)
print(type(t1))

13:20:13.000040
<class 'datetime.time'>

In [21]:
# hour
print('Hour :',t1.hour)
# minute
print('Minute :',t1.minute)
# second
print('Second :',t1.second)
# microsecond
print('Microsecond :',t1.microsecond)

Hour : 13
Minute : 20
Second : 13
Microsecond : 40

In [22]:
from datetime import datetime
d1 = datetime(2020,4,23,11,20,30,40)
print(d1)
print(type(d1))

2020-04-23 11:20:30.000040
<class 'datetime.datetime'>

In [23]:
# local date-time
d1 = datetime.now()
d1

datetime.datetime(2021, 5, 11, 23, 37, 14, 387527)

In [24]:
print('Datetime :',d1)
# date
print('Date :',d1.date())
# time
print('Time :',d1.time())
# new datetime
print('New datetime :',d1.replace(day=24, hour=14))

Datetime : 2021-05-11 23:37:14.387527
Date : 2021-05-11
Time : 23:37:14.387527
New datetime : 2021-05-24 14:37:14.387527

In [25]:
d1 = datetime.now()
# week starts from 0
print(d1.weekday()) # output 3 for Thurday
# week starts with 1
print(d1.isoweekday()) # output 4 in ISO format

1
2

In [26]:
d1 = datetime.now()
# retuns year, week, month
print(d1.isocalendar())
print('Week :',d1.isocalendar()[1])

(2021, 19, 2)
Week : 19

In [27]:
import calendar
d1 = datetime.now()
# leap year or not
calendar.isleap(d1.year) # Output True

False

In [28]:
# Its was May when I wrote this
print(calendar.month(2021,5))

      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [29]:
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [30]:
# ISO format
d1_datetime = date.fromisoformat('2020-04-23')
print(d1_datetime)
print(type(d1_datetime))
d1_ISO = date(2020,4,23).isoformat()
print(d1_ISO)
print(type(d1_ISO))

2020-04-23
<class 'datetime.date'>
2020-04-23
<class 'str'>

In [31]:
# date in string format
d1 = datetime.now()
# string format for date
print(d1.ctime())
# slicing to extract date
print(d1.ctime()[:10])

Tue May 11 23:37:14 2021
Tue May 11

In [32]:
date(2020,4,23).__format__('%Y/%m/%d')

'2020/04/23'

In [33]:
# strptime
date = '22 April, 2020 13:20:13'
d1 = datetime.strptime(date,'%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2020-04-22 13:20:13
<class 'datetime.datetime'>

In [34]:
# strftime
d1 = datetime.now()
print('Datetime object :',d1)
new_date = d1.strftime('%d/%m/%Y %H:%M')
print('Formatted date :',new_date)
print(type(new_date))

Datetime object : 2021-05-11 23:37:14.555199
Formatted date : 11/05/2021 23:37
<class 'str'>

In [35]:
d1 = datetime.now()
print('Weekday :',d1.strftime('%A'))
print('Month :',d1.strftime('%B'))
print('Week number :',d1.strftime('%W'))
print("Locale's date and time representation :",d1.strftime('%c'))

Weekday : Tuesday
Month : May
Week number : 19
Locale's date and time representation : Tue May 11 23:37:14 2021

In [36]:
# timedelta : duration between dates
d1 = datetime(2020,4,23,11,13,10)
d2 = datetime(2021,4,23,12,13,10)
duration = d2-d1
print(type(duration))

<class 'datetime.timedelta'>

In [37]:
print(duration.days) # 365
print(duration.seconds) # 3600

365
3600

In [38]:
from datetime import timedelta
# duration in hours
print('Duration in hours :',duration/timedelta(hours=1))
# duration in minutes
print('Duration in minutes :',duration/timedelta(minutes=1))
# duration in seconds
print('Duration in seconds :',duration/timedelta(seconds=1))

Duration in hours : 8761.0
Duration in minutes : 525660.0
Duration in seconds : 31539600.0

In [39]:
d1 = datetime.now()
d1+5

TypeError: ignored

In [40]:
d1 = datetime.now()
print("Today's date :",d1)

d2 = d1+timedelta(days=2)
print("Date 2 days from today :",d2)

d3 = d1+timedelta(weeks=2)
print("Date 2 weeks from today :",d3)

Today's date : 2021-05-11 23:37:20.155956
Date 2 days from today : 2021-05-13 23:37:20.155956
Date 2 weeks from today : 2021-05-25 23:37:20.155956

In [41]:
# to_datetime
date = pd.to_datetime('24th of April, 2020')
print(date)
print(type(date))

2020-04-24 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [42]:
# timedelta
import numpy as np
date = datetime.now()
# present date
print(date)
# date after 1 day
print(date+pd.Timedelta(days=1))
# date after 1 month
#print(date+pd.Timedelta(1, unit='M'))

2021-05-11 23:37:28.612394
2021-05-12 23:37:28.612394

In [43]:
pd.date_range(start='24/4/2020', end='24/5/2020', freq='D')

DatetimeIndex(['2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
               '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
               '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24'],
              dtype='datetime64[ns]', freq='D')

In [44]:
from datetime import datetime
start_date = datetime.today()
dates_start = pd.date_range(start=start_date, periods=10, freq='T')
dates_start[:5]

DatetimeIndex(['2021-05-11 23:37:28.656658', '2021-05-11 23:38:28.656658',
               '2021-05-11 23:39:28.656658', '2021-05-11 23:40:28.656658',
               '2021-05-11 23:41:28.656658'],
              dtype='datetime64[ns]', freq='T')

In [45]:
dates_end = pd.date_range(start=start_date, periods=10, freq='D')
dates_end[:5]

DatetimeIndex(['2021-05-11 23:37:28.656658', '2021-05-12 23:37:28.656658',
               '2021-05-13 23:37:28.656658', '2021-05-14 23:37:28.656658',
               '2021-05-15 23:37:28.656658'],
              dtype='datetime64[ns]', freq='D')

In [46]:
import random
randomList = []
for i in range(10):
    randomList.append(random.randint(0,1))

# dataframe
df = pd.DataFrame()
df['Start_date'] = dates_start
df['End_date'] = dates_end
df['Target'] = randomList

df.head()

                  Start_date                   End_date  Target
0 2021-05-11 23:37:28.656658 2021-05-11 23:37:28.656658       1
1 2021-05-11 23:38:28.656658 2021-05-12 23:37:28.656658       1
2 2021-05-11 23:39:28.656658 2021-05-13 23:37:28.656658       0
3 2021-05-11 23:40:28.656658 2021-05-14 23:37:28.656658       0
4 2021-05-11 23:41:28.656658 2021-05-15 23:37:28.656658       0

In [49]:
# day
df['Day'] = df['Start_date'].dt.day
# month
df['Month'] = df['Start_date'].dt.month
# year
df['Year'] = df['Start_date'].dt.year
# hour
df['Start_hour'] = df['Start_date'].dt.hour
# minute
df['Start_minute'] = df['Start_date'].dt.minute
# second
df['Start_second'] = df['Start_date'].dt.second
# Monday is 0 and Sunday is 6
df['Start_weekday'] = df['Start_date'].dt.weekday
# week of the year
df['Start_week_of_year'] = df['Start_date'].dt.isocalendar().week
# duration
df['Duration'] = df['End_date']-df['Start_date']

In [50]:
df['Duration_days'] = df['Duration']/timedelta(days=1)
df['Duration_minutes'] = df['Duration']/timedelta(minutes=1)
df['Duration_seconds'] = df['Duration']/timedelta(seconds=1)

In [51]:
df.index=df['Start_date']
df['2020-04-24':'2020-04-24'].head()

Empty DataFrame
Columns: [Start_date, End_date, Target, Day, Month, Year, Start_hour, Start_minute, Start_second, Start_weekday, Start_week_of_year, Duration, Duration_days, Duration_minutes, Duration_seconds]
Index: []

In [52]:
df

                                           Start_date  ... Duration_seconds
Start_date                                             ...
2021-05-11 23:37:28.656658 2021-05-11 23:37:28.656658  ...              0.0
2021-05-11 23:38:28.656658 2021-05-11 23:38:28.656658  ...          86340.0
2021-05-11 23:39:28.656658 2021-05-11 23:39:28.656658  ...         172680.0
2021-05-11 23:40:28.656658 2021-05-11 23:40:28.656658  ...         259020.0
2021-05-11 23:41:28.656658 2021-05-11 23:41:28.656658  ...         345360.0
2021-05-11 23:42:28.656658 2021-05-11 23:42:28.656658  ...         431700.0
2021-05-11 23:43:28.656658 2021-05-11 23:43:28.656658  ...         518040.0
2021-05-11 23:44:28.656658 2021-05-11 23:44:28.656658  ...         604380.0
2021-05-11 23:45:28.656658 2021-05-11 23:45:28.656658  ...         690720.0
2021-05-11 23:46:28.656658 2021-05-11 23:46:28.656658  ...         777060.0

[10 rows x 15 columns]