<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/01-Python/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
d1= {'k1':1,'k2':2,'k3':3}

In [2]:
d1

{'k1': 1, 'k2': 2, 'k3': 3}

In [3]:
d1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [4]:
d1.values()

dict_values([1, 2, 3])

In [5]:
d1.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [6]:
d2= dict(apple=20,mango=80,orange=10)

In [7]:
d2

{'apple': 20, 'mango': 80, 'orange': 10}

In [8]:
for i in d2:
  print(i)

apple
mango
orange

In [14]:
for key,values in d2.items():
  print(str(key) +":"+str(values))

apple:20
mango:80
orange:10

In [16]:
d2.pop('apple')

20

In [17]:
d2

{'mango': 80, 'orange': 10}

In [18]:
d3={'hello':{'tanu':{'grade': 80, 'city': 'abc'},
            'manu':{'grade': 78, 'city': 'xyz'}}}

In [19]:
import pandas as pd

d4 = pd.DataFrame(d3['hello'])

In [20]:
d4

      tanu manu
grade   80   78
city   abc  xyz

In [21]:
d5 = pd.DataFrame(d3)

In [22]:
d5

                             hello
manu  {'grade': 78, 'city': 'xyz'}
tanu  {'grade': 80, 'city': 'abc'}