In [46]:
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="password"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000181864583D0>

In [47]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE student")

In [48]:
print(cursor.execute('SHOW DATABASES'))

None

In [49]:
for database in cursor:
    print(database)

('bookstore',)
('emp',)
('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('thiyagu',)
('world',)

In [39]:
cursor.execute("DROP DATABASE student")

In [51]:
connection = sql.connect(
  host="localhost",
  user="root",
  password="password",
  database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018186424130>

In [52]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [53]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [54]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Thiyagu", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [55]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [64]:
### Fetch All the Data
cursor.fetchall()

InterfaceError: No result set to fetch from.

In [61]:
### Fetch One Record At A time
cursor = connection.cursor()
cursor.fetchone()

In [63]:
cursor = connection.cursor()
lst=cursor.fetchall()

InterfaceError: No result set to fetch from.

In [60]:
for records in lst:
    print(records)

NameError: name 'lst' is not defined

In [65]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [66]:
### Fetch All the Data
cursor.fetchall()

[(7, 'Krish', 'Data Science')]

In [67]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [68]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

In [69]:
cursor.execute("DROP TABLE studentinfo")

In [70]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [74]:
import os
os.getcwd()

'C:\\Users\\plthi'