<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/Python_Basic_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
42

42

In [2]:
4+2

6

In [3]:
print("Hello, World!")

Hello, World!

In [4]:
x=4
x

4

In [5]:
x*x

16

If you try to use a name that is not associated with any value, python gives an error message.

In [6]:
foo

NameError: ignored

In [7]:
foo=4
foo

4

If you re-assign a different value to an existing variable, the new value overwrites the old value.

In [8]:
x=4
x

4

In [9]:
x= "hello world"
x

'hello world'

It is possible to do multiple assignments at once.

In [10]:
a,b= 1,2
a,b

(1, 2)

In [11]:
a+b

3

Swapping values of 2 variables in python is very simple.

In [12]:
a,b=1,2
print(a,b)
a,b=b,a
print(a,b)

1 2
2 1

When executing assignments, python evaluates the right hand side first and then assigns those values to the variables specified in the left hand side.

In [13]:
x=4
y= x+1
x=2
print(x,y)

2 5

Python also supports decimal numbers.

In [14]:
4.2+6.3

10.5

Python supports the following operators on numbers.
• + addition
• - subtraction
• * multiplication
• / division
• ** exponent
• % remainder

In [15]:
print("Addition 7 + 2",7+2)
print("subtraction 7 - 2",7-2)
print("Multiplication 7 * 2",7*2)
print("division 7 / 2",7/2)
print("exponent 7 ** 2",7**2)
print("remainder 7 % 2",7%2)

Addition 7 + 2 9
subtraction 7 - 2 5
Multiplication 7 * 2 14
division 7 / 2 3.5
exponent 7 ** 2 49
remainder 7 % 2 1

The operators can be combined.

In [16]:
7 + 2 + 3 -5

7

When we compute 2 + 3 * 4, 3 * 4 is computed first as the precedence of * is higher than + and then the
result is added to 2.

In [17]:
2 + 3 * 4

14

In [18]:
#We can use parenthesis to specify the explicit groups.
(2+3)*4

20

In [19]:
1 + 2 + 3 * 4 + 5

20

There is difference between single quotes and double quotes, they can used interchangebly.
Multi-line strings can be written using three single quotes or three double quotes.

In [20]:

x = """This is a multi-line string
written in
three lines."""
x

'This is a multi-line string\nwritten in\nthree lines.'

In [21]:
y = '''multi-line strings can be written
using three single quote characters as well.
The string can contain 'single quotes' or "double quotes"
in side it.'''
y

'multi-line strings can be written\nusing three single quote characters as well.\nThe string can contain \'single quotes\' or "double quotes"\nin side it.'

In [22]:
def square(x):
  return x* x

square(5)

25

The functions can be used in any expressions.

In [23]:
square(3) + square(2)

13

Existing functions can be used in creating new functions.

In [24]:
 def sum_of_squares(x,y):
   return square(x) + square(y)

sum_of_squares(3,5)

34

Functions are just like other values, they can assigned, passed as arguments to other functions etc.

In [25]:
f=square
f(4)

16

In [26]:
def fxy(f,x,y):
  return f(x) + f(y)
fxy(square, 2, 3)

13

In [27]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [0]:
def least_difference(a, b, c):
  diff1 = abs(a - b)
  diff2 = abs(b - c)
  diff3 = abs(a - c)
  return min(diff1, diff2, diff3)

In [29]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)

In [30]:
print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7), # Python allows trailing commas in argument lists. How nice is that?
)

9 0 1

But if we don't specify a value, sep is treated as having a default value of ' ' (a single space).

In [31]:
print(1, 2, 3, sep=' < ')

1 < 2 < 3

It is important to understand, the scope of the variables used in functions.

In [32]:
x=0
y=0
def incr(x):
  y= x+1
  return y

incr(5)
print(x,y)

0 0

There is another way of creating functions, using the lambda operator.

Notice that unlike function defination, lambda doesn’t need a return. The body of the lambda is a single expression

In [33]:
cube = lambda x: x ** 3

fxy(cube, 2,3)

35

In [34]:
fxy(lambda x: x ** 3, 2, 3)

35

In [35]:
min(2,3)

2

In [36]:
max(10,25)

25

In [37]:
len("Hello World")

11

The built-in function int converts string to ingeter and built-in function str converts integers and other type of
objects to strings

In [38]:
int("50")

50

In [39]:
str(123)

'123'

In [40]:
x="hello"
x.upper()

'HELLO'

In [41]:
x= [1,2,3]
x

[1, 2, 3]

In [42]:
len(x)

3

In [43]:
x[1]

2

The sys module provides access to the list of arguments passed to the program, among the other things.
The sys.argv variable contains the list of arguments passed to the program. As a convention, the first element of that list is the name of the program

In [44]:
import sys
print(sys.argv[1])

-f

Presence of a key in a list can be tested using in operator.

In [45]:
x=[1,2,3,4]
2 in x

True

In [46]:
10 in x

False

The built-in function zip takes two lists and returns list of pairs.

In [47]:
list(zip(["a", "b", "c"], [1, 2, 3]))

[('a', 1), ('b', 2), ('c', 3)]

The sort method sorts a list in place.

In [48]:
a = [2, 10, 4, 3, 7]
a.sort()
a

[2, 3, 4, 7, 10]

The built-in function sorted returns a new sorted list without modifying the source list.

In [49]:
a = [2, 10, 4, 3, 7]
print(sorted(a))
print(a)

[2, 3, 4, 7, 10]
[2, 10, 4, 3, 7]

We can optionally specify a function as sort key.

In [50]:
a = [[2, 3], [4, 6], [6, 1]]
a.sort(key=lambda x: x[1])
a

[[6, 1], [2, 3], [4, 6]]

Tuple is a sequence type just like list, but it is immutable. A tuple consists of a number of values separated by
commas

In [51]:
a=(1,2,3)
a

(1, 2, 3)

Sets are unordered collection of unique elements.

In [52]:
x=set([1,2,4,1])
x

{1, 2, 4}

In [53]:
x={1,2,3,4,1,2}
x

{1, 2, 3, 4}

In [54]:
#New elements can be added to a set using the add method.
x.add(5)
x

{1, 2, 3, 4, 5}

In [0]:
a= range(10)
#list(a)

In [65]:
[x for x in a]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
[x * x for x in a]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
[x+1 for x in a]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
a= range(10)
[x for x in a if x % 2 ==0 ]

[0, 2, 4, 6, 8]

In [0]:
x = range(2000, 3201)
num = [n for n in x if n % 7 == 0 and n % 5 != 0]

In [76]:
n=25
[(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [83]:
def square(x):
  return x * x

list(map(square,range(5)))

[0, 1, 4, 9, 16]

In [87]:
def even(x):
  return x % 2 == 0

list(filter(even, range(10)))

[0, 2, 4, 6, 8]

In [94]:
print(list(enumerate(["a","b","c"])))

for index, value in enumerate(["a","b","c"]):
  print(index,value)

[(0, 'a'), (1, 'b'), (2, 'c')]
0 a
1 b
2 c

In [97]:
d = {'x': 1, 'y': 2, 'z': 3}
d.get('x',5)

1

In [98]:
d.setdefault('x', 0)
d

{'x': 1, 'y': 2, 'z': 3}

Word Character frequency

In [100]:
def word_frequency(words):
  frequency = {}
  for w in words:
    frequency[w]= frequency.get(w,0)+1
  return frequency

word_frequency('welcome')

{'c': 1, 'e': 2, 'l': 1, 'm': 1, 'o': 1, 'w': 1}

In [101]:
globals()

{'In': ['',
  '42',
  '4+2',
  'print("Hello, World!")',
  'x=4\nx',
  'x*x',
  'foo',
  'foo=4\nfoo',
  'x=4\nx',
  'x= "hello world"\nx',
  'a,b= 1,2\na,b',
  'a+b',
  'a,b=1,2\nprint(a,b)\na,b=b,a\nprint(a,b)',
  'x=4\ny= x+1\nx=2\nprint(x,y)',
  '4.2+6.3',
  'print("Addition 7 + 2",7+2)\nprint("subtraction 7 - 2",7-2)\nprint("Multiplication 7 * 2",7*2)\nprint("division 7 / 2",7/2)\nprint("exponent 7 ** 2",7**2)\nprint("remainder 7 % 2",7%2)',
  '7 + 2 + 3 -5',
  '2 + 3 * 4',
  '#We can use parenthesis to specify the explicit groups.\n(2+3)*4',
  '1 + 2 + 3 * 4 + 5',
  '\nx = """This is a multi-line string\nwritten in\nthree lines."""\nx',
  'y = \'\'\'multi-line strings can be written\nusing three single quote characters as well.\nThe string can contain \'single quotes\' or "double quotes"\nin side it.\'\'\'\ny',
  'def square(x):\n  return x* x\n\nsquare(5)',
  'square(3) + square(2)',
  'def sum_of_squares(x,y):\n  return square(x) + square(y)\n\nsum_of_squares(3,5)',
  'f=square\nf(4)',
  'def fxy(f,x,y):\n  return f(x) + f(y)\nfxy(square, 2, 3)',
  'help(round)',
  'def least_difference(a, b, c):\n  diff1 = abs(a - b)\n  diff2 = abs(b - c)\n  diff3 = abs(a - c)\n  return min(diff1, diff2, diff3)',
  'help(least_difference)',
  'print(\n    least_difference(1, 10, 100),\n    least_difference(1, 10, 10),\n    least_difference(5, 6, 7), # Python allows trailing commas in argument lists. How nice is that?\n)',
  "print(1, 2, 3, sep=' < ')",
  'x=0\ny=0\ndef incr(x):\n  y= x+1\n  return y\n\nincr(5)\nprint(x,y)',
  'cube = lambda x: x ** 3\n\nfxy(cube, 2,3)',
  'fxy(lambda x: x ** 3, 2, 3)',
  'min(2,3)',
  'max(10,25)',
  'len("Hello World")',
  'int("50")',
  'str(123)',
  'x="hello"\nx.upper()',
  'x= [1,2,3]\nx',
  'len(x)',
  'x[1]',
  'import sys\nprint(sys.argv[1])',
  'x=[1,2,3,4]\n2 in x',
  '10 in x',
  'list(zip(["a", "b", "c"], [1, 2, 3]))',
  'a = [2, 10, 4, 3, 7]\na.sort()\na',
  'a = [2, 10, 4, 3, 7]\nprint(sorted(a))\nprint(a)',
  'a = [[2, 3], [4, 6], [6, 1]]\na.sort(key=lambda x: x[1])\na',
  'a=(1,2,3)\na',
  'x=set([1,2,4,1])\nx',
  'x={1,2,3,4,1,2}\nx',
  '#New elements can be added to a set using the add method.\nx.add(5)\nx',
  'a= range(10)',
  'a= range(10)\na',
  'a= range(10)\nlist(a)',
  '[x for c in a]',
  'a= range(10)\n#list(a)',
  'a= range(10)\n#list(a)\nx',
  'a= range(10)\n#list(a)\nx=0',
  '[x for c in a]',
  'a= range(10)\n#list(a)',
  '[x for c in a]',
  '[x for x in a]',
  '[x * x for x in a]',
  '[x+1 for x in a]',
  '[x+1 for x in a]',
  '[x+1 for x in a]',
  'a= range(10)\n\n[x for x in a if a %2 ==0]',
  'a= range(10)\n[x for x in a if a % 2 ==0 ]',
  'a= list(range(10))\n[x for x in a if a % 2 ==0 ]',
  'a= int(range(10))\n[x for x in a if a % 2 ==0 ]',
  'a= range(10)\n[x for x in a if a % 2 ==0 ]',
  'a= range(10)\n[x for x in a if a % 2 ==0 ]',
  'n=25\n[(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z]',
  'a= range(10)\n[x for x in range(10) if a % 2 ==0 ]',
  'a= range(10)\n[x for x in range(10) if a % 2 ==0 ]',
  'x = range(2000, 3201)\nnum = [n for n in x if n % 7 == 0 and n % 5 != 0]',
  'a= range(10)\n[x for x in a if x % 2 ==0 ]',
  'def square(x):\n  return x * x\n\nmap(square,range(5))',
  'def square(x):\n  return x * x\n\nlist(map(square,range(5)))',
  'def square(x):\n  return x * x\n\nlist(map(square,range(5)))',
  'def evev(x):\n  return x % 2\n\nfilter(even, range(10))',
  'def even(x):\n  return x % 2\n\nfilter(even, range(10))',
  'def even(x):\n  return x % 2\n\nlist(filter(even, range(10)))',
  'def even(x):\n  return x % 2 == 0\n\nlist(filter(even, range(10)))',
  'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in in enumerate(["a","b","c"]):\n  print(index,value)',
  'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in in enumerate(["a","b","c"]):\n  print(index,value)',
  'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  '#enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'enumerate(["a","b","c"])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'print(enumerate(["a","b","c"]))\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'print(list(enumerate(["a","b","c"])))\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'a= array(2,3)\na',
  'from numpy import array\na= array(2,3)\na',
  "d = {'x': 1, 'y': 2, 'z': 3}\nd.get('x',5)",
  "d.setdefault('x', 0)\nd",
  "def word_frequency(words):\n  frequency = {}\n  for w in words:\n    frequency[w]= frequency.get(w,0)+1\n  return frequency\n\nword_frequency('words words welcome heloo')",
  "def word_frequency(words):\n  frequency = {}\n  for w in words:\n    frequency[w]= frequency.get(w,0)+1\n  return frequency\n\nword_frequency('welcome')",
  'globals()'],
 'Out': {1: 42,
  2: 6,
  4: 4,
  5: 16,
  7: 4,
  8: 4,
  9: 'hello world',
  10: (1, 2),
  11: 3,
  14: 10.5,
  16: 7,
  17: 14,
  18: 20,
  19: 20,
  20: 'This is a multi-line string\nwritten in\nthree lines.',
  21: 'multi-line strings can be written\nusing three single quote characters as well.\nThe string can contain \'single quotes\' or "double quotes"\nin side it.',
  22: 25,
  23: 13,
  24: 34,
  25: 16,
  26: 13,
  33: 35,
  34: 35,
  35: 2,
  36: 25,
  37: 11,
  38: 50,
  39: '123',
  40: 'HELLO',
  41: [1, 2, 3],
  42: 3,
  43: 2,
  45: True,
  46: False,
  47: [('a', 1), ('b', 2), ('c', 3)],
  48: [2, 3, 4, 7, 10],
  50: [[6, 1], [2, 3], [4, 6]],
  51: (1, 2, 3),
  52: {1, 2, 4},
  53: {1, 2, 3, 4, 5},
  54: {1, 2, 3, 4, 5},
  56: range(0, 10),
  57: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
  58: [{1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5},
   {1, 2, 3, 4, 5}],
  60: {1, 2, 3, 4, 5},
  62: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  64: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  65: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
  66: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81],
  67: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
  68: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
  69: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
  76: [(3, 4, 5),
   (5, 12, 13),
   (6, 8, 10),
   (8, 15, 17),
   (9, 12, 15),
   (12, 16, 20)],
  80: [0, 2, 4, 6, 8],
  81: <map at 0x7f0279ffde10>,
  82: [0, 1, 4, 9, 16],
  83: [0, 1, 4, 9, 16],
  85: <filter at 0x7f0279ffd080>,
  86: [1, 3, 5, 7, 9],
  87: [0, 2, 4, 6, 8],
  97: 1,
  98: {'x': 1, 'y': 2, 'z': 3},
  99: {' ': 3,
   'c': 1,
   'd': 2,
   'e': 3,
   'h': 1,
   'l': 2,
   'm': 1,
   'o': 5,
   'r': 2,
   's': 2,
   'w': 3},
  100: {'c': 1, 'e': 2, 'l': 1, 'm': 1, 'o': 1, 'w': 1}},
 '_': {'c': 1, 'e': 2, 'l': 1, 'm': 1, 'o': 1, 'w': 1},
 '_1': 42,
 '_10': (1, 2),
 '_100': {'c': 1, 'e': 2, 'l': 1, 'm': 1, 'o': 1, 'w': 1},
 '_11': 3,
 '_14': 10.5,
 '_16': 7,
 '_17': 14,
 '_18': 20,
 '_19': 20,
 '_2': 6,
 '_20': 'This is a multi-line string\nwritten in\nthree lines.',
 '_21': 'multi-line strings can be written\nusing three single quote characters as well.\nThe string can contain \'single quotes\' or "double quotes"\nin side it.',
 '_22': 25,
 '_23': 13,
 '_24': 34,
 '_25': 16,
 '_26': 13,
 '_33': 35,
 '_34': 35,
 '_35': 2,
 '_36': 25,
 '_37': 11,
 '_38': 50,
 '_39': '123',
 '_4': 4,
 '_40': 'HELLO',
 '_41': [1, 2, 3],
 '_42': 3,
 '_43': 2,
 '_45': True,
 '_46': False,
 '_47': [('a', 1), ('b', 2), ('c', 3)],
 '_48': [2, 3, 4, 7, 10],
 '_5': 16,
 '_50': [[6, 1], [2, 3], [4, 6]],
 '_51': (1, 2, 3),
 '_52': {1, 2, 4},
 '_53': {1, 2, 3, 4, 5},
 '_54': {1, 2, 3, 4, 5},
 '_56': range(0, 10),
 '_57': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 '_58': [{1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5},
  {1, 2, 3, 4, 5}],
 '_60': {1, 2, 3, 4, 5},
 '_62': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 '_64': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 '_65': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 '_66': [0, 1, 4, 9, 16, 25, 36, 49, 64, 81],
 '_67': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '_68': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '_69': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '_7': 4,
 '_76': [(3, 4, 5),
  (5, 12, 13),
  (6, 8, 10),
  (8, 15, 17),
  (9, 12, 15),
  (12, 16, 20)],
 '_8': 4,
 '_80': [0, 2, 4, 6, 8],
 '_81': <map at 0x7f0279ffde10>,
 '_82': [0, 1, 4, 9, 16],
 '_83': [0, 1, 4, 9, 16],
 '_85': <filter at 0x7f0279ffd080>,
 '_86': [1, 3, 5, 7, 9],
 '_87': [0, 2, 4, 6, 8],
 '_9': 'hello world',
 '_97': 1,
 '_98': {'x': 1, 'y': 2, 'z': 3},
 '_99': {' ': 3,
  'c': 1,
  'd': 2,
  'e': 3,
  'h': 1,
  'l': 2,
  'm': 1,
  'o': 5,
  'r': 2,
  's': 2,
  'w': 3},
 '__': {' ': 3,
  'c': 1,
  'd': 2,
  'e': 3,
  'h': 1,
  'l': 2,
  'm': 1,
  'o': 5,
  'r': 2,
  's': 2,
  'w': 3},
 '___': {'x': 1, 'y': 2, 'z': 3},
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__loader__': None,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_dh': ['/content'],
 '_i': "def word_frequency(words):\n  frequency = {}\n  for w in words:\n    frequency[w]= frequency.get(w,0)+1\n  return frequency\n\nword_frequency('welcome')",
 '_i1': '42',
 '_i10': 'a,b= 1,2\na,b',
 '_i100': "def word_frequency(words):\n  frequency = {}\n  for w in words:\n    frequency[w]= frequency.get(w,0)+1\n  return frequency\n\nword_frequency('welcome')",
 '_i101': 'globals()',
 '_i11': 'a+b',
 '_i12': 'a,b=1,2\nprint(a,b)\na,b=b,a\nprint(a,b)',
 '_i13': 'x=4\ny= x+1\nx=2\nprint(x,y)',
 '_i14': '4.2+6.3',
 '_i15': 'print("Addition 7 + 2",7+2)\nprint("subtraction 7 - 2",7-2)\nprint("Multiplication 7 * 2",7*2)\nprint("division 7 / 2",7/2)\nprint("exponent 7 ** 2",7**2)\nprint("remainder 7 % 2",7%2)',
 '_i16': '7 + 2 + 3 -5',
 '_i17': '2 + 3 * 4',
 '_i18': '#We can use parenthesis to specify the explicit groups.\n(2+3)*4',
 '_i19': '1 + 2 + 3 * 4 + 5',
 '_i2': '4+2',
 '_i20': '\nx = """This is a multi-line string\nwritten in\nthree lines."""\nx',
 '_i21': 'y = \'\'\'multi-line strings can be written\nusing three single quote characters as well.\nThe string can contain \'single quotes\' or "double quotes"\nin side it.\'\'\'\ny',
 '_i22': 'def square(x):\n  return x* x\n\nsquare(5)',
 '_i23': 'square(3) + square(2)',
 '_i24': ' def sum_of_squares(x,y):\n   return square(x) + square(y)\n\nsum_of_squares(3,5)',
 '_i25': 'f=square\nf(4)',
 '_i26': 'def fxy(f,x,y):\n  return f(x) + f(y)\nfxy(square, 2, 3)',
 '_i27': 'help(round)',
 '_i28': 'def least_difference(a, b, c):\n  diff1 = abs(a - b)\n  diff2 = abs(b - c)\n  diff3 = abs(a - c)\n  return min(diff1, diff2, diff3)',
 '_i29': 'help(least_difference)',
 '_i3': 'print("Hello, World!")',
 '_i30': 'print(\n    least_difference(1, 10, 100),\n    least_difference(1, 10, 10),\n    least_difference(5, 6, 7), # Python allows trailing commas in argument lists. How nice is that?\n)',
 '_i31': "print(1, 2, 3, sep=' < ')",
 '_i32': 'x=0\ny=0\ndef incr(x):\n  y= x+1\n  return y\n\nincr(5)\nprint(x,y)',
 '_i33': 'cube = lambda x: x ** 3\n\nfxy(cube, 2,3)',
 '_i34': 'fxy(lambda x: x ** 3, 2, 3)',
 '_i35': 'min(2,3)',
 '_i36': 'max(10,25)',
 '_i37': 'len("Hello World")',
 '_i38': 'int("50")',
 '_i39': 'str(123)',
 '_i4': 'x=4\nx',
 '_i40': 'x="hello"\nx.upper()',
 '_i41': 'x= [1,2,3]\nx',
 '_i42': 'len(x)',
 '_i43': 'x[1]',
 '_i44': 'import sys\nprint(sys.argv[1])',
 '_i45': 'x=[1,2,3,4]\n2 in x',
 '_i46': '10 in x',
 '_i47': 'list(zip(["a", "b", "c"], [1, 2, 3]))',
 '_i48': 'a = [2, 10, 4, 3, 7]\na.sort()\na',
 '_i49': 'a = [2, 10, 4, 3, 7]\nprint(sorted(a))\nprint(a)',
 '_i5': 'x*x',
 '_i50': 'a = [[2, 3], [4, 6], [6, 1]]\na.sort(key=lambda x: x[1])\na',
 '_i51': 'a=(1,2,3)\na',
 '_i52': 'x=set([1,2,4,1])\nx',
 '_i53': 'x={1,2,3,4,1,2}\nx',
 '_i54': '#New elements can be added to a set using the add method.\nx.add(5)\nx',
 '_i55': 'a= range(10)',
 '_i56': 'a= range(10)\na',
 '_i57': 'a= range(10)\nlist(a)',
 '_i58': '[x for c in a]',
 '_i59': 'a= range(10)\n#list(a)',
 '_i6': 'foo',
 '_i60': 'a= range(10)\n#list(a)\nx',
 '_i61': 'a= range(10)\n#list(a)\nx=0',
 '_i62': '[x for c in a]',
 '_i63': 'a= range(10)\n#list(a)',
 '_i64': '[x for c in a]',
 '_i65': '[x for x in a]',
 '_i66': '[x * x for x in a]',
 '_i67': '[x+1 for x in a]',
 '_i68': '[x+1 for x in a]',
 '_i69': '[x+1 for x in a]',
 '_i7': 'foo=4\nfoo',
 '_i70': 'a= range(10)\n\n[x for x in a if a %2 ==0]',
 '_i71': 'a= range(10)\n[x for x in a if a % 2 ==0 ]',
 '_i72': 'a= list(range(10))\n[x for x in a if a % 2 ==0 ]',
 '_i73': 'a= int(range(10))\n[x for x in a if a % 2 ==0 ]',
 '_i74': 'a= range(10)\n[x for x in a if a % 2 ==0 ]',
 '_i75': 'a= range(10)\n[x for x in a if a % 2 ==0 ]',
 '_i76': 'n=25\n[(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z]',
 '_i77': 'a= range(10)\n[x for x in range(10) if a % 2 ==0 ]',
 '_i78': 'a= range(10)\n[x for x in range(10) if a % 2 ==0 ]',
 '_i79': 'x = range(2000, 3201)\nnum = [n for n in x if n % 7 == 0 and n % 5 != 0]',
 '_i8': 'x=4\nx',
 '_i80': 'a= range(10)\n[x for x in a if x % 2 ==0 ]',
 '_i81': 'def square(x):\n  return x * x\n\nmap(square,range(5))',
 '_i82': 'def square(x):\n  return x * x\n\nlist(map(square,range(5)))',
 '_i83': 'def square(x):\n  return x * x\n\nlist(map(square,range(5)))',
 '_i84': 'def evev(x):\n  return x % 2\n\nfilter(even, range(10))',
 '_i85': 'def even(x):\n  return x % 2\n\nfilter(even, range(10))',
 '_i86': 'def even(x):\n  return x % 2\n\nlist(filter(even, range(10)))',
 '_i87': 'def even(x):\n  return x % 2 == 0\n\nlist(filter(even, range(10)))',
 '_i88': 'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in in enumerate(["a","b","c"]):\n  print(index,value)',
 '_i89': 'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in in enumerate(["a","b","c"]):\n  print(index,value)',
 '_i9': 'x= "hello world"\nx',
 '_i90': 'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
 '_i91': '#enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
 '_i92': 'enumerate(["a","b","c"])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
 '_i93': 'print(enumerate(["a","b","c"]))\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
 '_i94': 'print(list(enumerate(["a","b","c"])))\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
 '_i95': 'a= array(2,3)\na',
 '_i96': 'from numpy import array\na= array(2,3)\na',
 '_i97': "d = {'x': 1, 'y': 2, 'z': 3}\nd.get('x',5)",
 '_i98': "d.setdefault('x', 0)\nd",
 '_i99': "def word_frequency(words):\n  frequency = {}\n  for w in words:\n    frequency[w]= frequency.get(w,0)+1\n  return frequency\n\nword_frequency('words words welcome heloo')",
 '_ih': ['',
  '42',
  '4+2',
  'print("Hello, World!")',
  'x=4\nx',
  'x*x',
  'foo',
  'foo=4\nfoo',
  'x=4\nx',
  'x= "hello world"\nx',
  'a,b= 1,2\na,b',
  'a+b',
  'a,b=1,2\nprint(a,b)\na,b=b,a\nprint(a,b)',
  'x=4\ny= x+1\nx=2\nprint(x,y)',
  '4.2+6.3',
  'print("Addition 7 + 2",7+2)\nprint("subtraction 7 - 2",7-2)\nprint("Multiplication 7 * 2",7*2)\nprint("division 7 / 2",7/2)\nprint("exponent 7 ** 2",7**2)\nprint("remainder 7 % 2",7%2)',
  '7 + 2 + 3 -5',
  '2 + 3 * 4',
  '#We can use parenthesis to specify the explicit groups.\n(2+3)*4',
  '1 + 2 + 3 * 4 + 5',
  '\nx = """This is a multi-line string\nwritten in\nthree lines."""\nx',
  'y = \'\'\'multi-line strings can be written\nusing three single quote characters as well.\nThe string can contain \'single quotes\' or "double quotes"\nin side it.\'\'\'\ny',
  'def square(x):\n  return x* x\n\nsquare(5)',
  'square(3) + square(2)',
  'def sum_of_squares(x,y):\n  return square(x) + square(y)\n\nsum_of_squares(3,5)',
  'f=square\nf(4)',
  'def fxy(f,x,y):\n  return f(x) + f(y)\nfxy(square, 2, 3)',
  'help(round)',
  'def least_difference(a, b, c):\n  diff1 = abs(a - b)\n  diff2 = abs(b - c)\n  diff3 = abs(a - c)\n  return min(diff1, diff2, diff3)',
  'help(least_difference)',
  'print(\n    least_difference(1, 10, 100),\n    least_difference(1, 10, 10),\n    least_difference(5, 6, 7), # Python allows trailing commas in argument lists. How nice is that?\n)',
  "print(1, 2, 3, sep=' < ')",
  'x=0\ny=0\ndef incr(x):\n  y= x+1\n  return y\n\nincr(5)\nprint(x,y)',
  'cube = lambda x: x ** 3\n\nfxy(cube, 2,3)',
  'fxy(lambda x: x ** 3, 2, 3)',
  'min(2,3)',
  'max(10,25)',
  'len("Hello World")',
  'int("50")',
  'str(123)',
  'x="hello"\nx.upper()',
  'x= [1,2,3]\nx',
  'len(x)',
  'x[1]',
  'import sys\nprint(sys.argv[1])',
  'x=[1,2,3,4]\n2 in x',
  '10 in x',
  'list(zip(["a", "b", "c"], [1, 2, 3]))',
  'a = [2, 10, 4, 3, 7]\na.sort()\na',
  'a = [2, 10, 4, 3, 7]\nprint(sorted(a))\nprint(a)',
  'a = [[2, 3], [4, 6], [6, 1]]\na.sort(key=lambda x: x[1])\na',
  'a=(1,2,3)\na',
  'x=set([1,2,4,1])\nx',
  'x={1,2,3,4,1,2}\nx',
  '#New elements can be added to a set using the add method.\nx.add(5)\nx',
  'a= range(10)',
  'a= range(10)\na',
  'a= range(10)\nlist(a)',
  '[x for c in a]',
  'a= range(10)\n#list(a)',
  'a= range(10)\n#list(a)\nx',
  'a= range(10)\n#list(a)\nx=0',
  '[x for c in a]',
  'a= range(10)\n#list(a)',
  '[x for c in a]',
  '[x for x in a]',
  '[x * x for x in a]',
  '[x+1 for x in a]',
  '[x+1 for x in a]',
  '[x+1 for x in a]',
  'a= range(10)\n\n[x for x in a if a %2 ==0]',
  'a= range(10)\n[x for x in a if a % 2 ==0 ]',
  'a= list(range(10))\n[x for x in a if a % 2 ==0 ]',
  'a= int(range(10))\n[x for x in a if a % 2 ==0 ]',
  'a= range(10)\n[x for x in a if a % 2 ==0 ]',
  'a= range(10)\n[x for x in a if a % 2 ==0 ]',
  'n=25\n[(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z]',
  'a= range(10)\n[x for x in range(10) if a % 2 ==0 ]',
  'a= range(10)\n[x for x in range(10) if a % 2 ==0 ]',
  'x = range(2000, 3201)\nnum = [n for n in x if n % 7 == 0 and n % 5 != 0]',
  'a= range(10)\n[x for x in a if x % 2 ==0 ]',
  'def square(x):\n  return x * x\n\nmap(square,range(5))',
  'def square(x):\n  return x * x\n\nlist(map(square,range(5)))',
  'def square(x):\n  return x * x\n\nlist(map(square,range(5)))',
  'def evev(x):\n  return x % 2\n\nfilter(even, range(10))',
  'def even(x):\n  return x % 2\n\nfilter(even, range(10))',
  'def even(x):\n  return x % 2\n\nlist(filter(even, range(10)))',
  'def even(x):\n  return x % 2 == 0\n\nlist(filter(even, range(10)))',
  'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in in enumerate(["a","b","c"]):\n  print(index,value)',
  'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in in enumerate(["a","b","c"]):\n  print(index,value)',
  'enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  '#enumerate(["a","b","c"],[(0,"a"),(1,"b"),(2,"c")])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'enumerate(["a","b","c"])\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'print(enumerate(["a","b","c"]))\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'print(list(enumerate(["a","b","c"])))\n\nfor index, value in enumerate(["a","b","c"]):\n  print(index,value)',
  'a= array(2,3)\na',
  'from numpy import array\na= array(2,3)\na',
  "d = {'x': 1, 'y': 2, 'z': 3}\nd.get('x',5)",
  "d.setdefault('x', 0)\nd",
  "def word_frequency(words):\n  frequency = {}\n  for w in words:\n    frequency[w]= frequency.get(w,0)+1\n  return frequency\n\nword_frequency('words words welcome heloo')",
  "def word_frequency(words):\n  frequency = {}\n  for w in words:\n    frequency[w]= frequency.get(w,0)+1\n  return frequency\n\nword_frequency('welcome')",
  'globals()'],

Global() Python stores the variables we use as a dictionary. The globals() function returns all the globals variables in
the current environment.

In [102]:
import os
print(os.getcwd())

/content

The urllib module provides functionality to download webpages.

In [104]:
import urllib.request
response = urllib.request.urlopen("http://python.org/")
print(response.headers)

Connection: close
Content-Length: 48990
Server: nginx
Content-Type: text/html; charset=utf-8
X-Frame-Options: DENY
Via: 1.1 vegur
Via: 1.1 varnish
Accept-Ranges: bytes
Date: Mon, 25 May 2020 15:05:31 GMT
Via: 1.1 varnish
Age: 3570
X-Served-By: cache-bwi5128-BWI, cache-sea4443-SEA
X-Cache: HIT, HIT
X-Cache-Hits: 1, 22
X-Timer: S1590419131.282239,VS0,VE0
Vary: Cookie
Strict-Transport-Security: max-age=63072000; includeSubDomains

In [0]:
class BankAccount:
  def __init__(self):
    self.balance =0
  def withdraw(self ,amount):
     self.balance -= amount
     return self.balance
  def deposit(self, amount):
    self.balance += amount
    return self.balance

In [107]:
a= BankAccount()
a.deposit(1000)

1000

In [108]:
a.withdraw(500)

500

In [0]:
class MinimumBalanceAccount(BankAccount):
  def __init__(self, minimum_balance):
    BankAccount.__init__(self)
    self.minimum_balance= minimum_balance
  def withdraw(self, amount):
    if self.balance -amount < self.minimum_balance:
      print('Sorry, minimum balance must be maintained.')
    else:
      BankAccount.withdraw(self, amount)

In [0]:
class A:
  def f(self):
    return self.g()
  def g(Self):
    return 'A'

class B(A):
  def g(Self):
    return 'B'

In [115]:
a= A()
b = B()
print(a.f(),b.f())
print(a.g(),b.g())

A B
A B

In [0]:
class Canvas:
  def __init__(self, width, height):
    self.width= width
    self.height= height
    self.data = [[' '] * width for i in range(height)]
  def setpixel(self, row, col):
    self.data[row][col] = '*'
  def getpixel(self, row, col):
    return self.data[row][col]
  def display(self):
    print("\n".join(["".join(row) for row in self.data]))

class Shape:
  def paint(self, canvas): pass

class Rectangle(Shape):
  def __init__(self, x, y, w, h):
    self.x = x
    self.y = y
    self.w = w
    self.h = h
  def hline(self, x, y, w):
    pass
  def vline(self, x, y, h):
    pass
  def paint(self, canvas):
    hline(self.x, self.y, self.w)
    hline(self.x, self.y + self.h, self.w)
    vline(self.x, self.y, self.h)
    vline(self.x + self.w, self.y, self.h)
class Square(Rectangle):
  def __init__(self, x, y, size):
    Rectangle.__init__(self, x, y, size, size)
class CompoundShape(Shape):
  def __init__(self, shapes):
    self.shapes = shapes
  def paint(self, canvas):
    for s in self.shapes:
      s.paint(canvas)

In [118]:
foo1

NameError: ignored

In [120]:
"foo"+ 2

TypeError: ignored

In [121]:
2/0

ZeroDivisionError: ignored

In [122]:
open("not-there.txt")

FileNotFoundError: ignored

Exception is raised using the raised keyword.
raise Exception("error message")
All the exceptions are extended from the built-in Exception class.
class ParseError(Exception): pass

In [123]:
try:
  print( "a")
  raise Exception("doom")
except:
  print("b")
else:
  print("c")
finally:
  print("d")

a
b
d

In [124]:
def f():
  try:
    print("a")
    return
  except:
    print("b")
  else:
    print("c")
  finally:
    print("d")
  
f()

a
d

In [125]:
for i in [1,2,3,4]:
  print(i)

1
2
3
4

In [126]:
for c in "python":
  print(c)

p
y
t
h
o
n

The built-in function iter takes an iterable object and returns an iterator.

In [127]:
x = iter([1, 2, 3])
x

Generators simplifies creation of iterators. A generator is a function that produces a sequence of results instead of
a single value.

In [0]:
def yrange(n):
  i = 0
  while i < n:
    yield i
    i += 1

In [130]:
y= yrange(3)
y

When a generator function is called, it returns a generator object without even beginning execution of the function.
When next method is called for the first time, the function starts executing until it reaches yield statement.
The yielded value is returned by the next call.

In [0]:
def foo():
  print("begin")
  for i in range(3):
    print("before yield", i)
    yield i
    print("after yield", i)
  print("end")

In [0]:
f=foo()

Reading multiple files

In [0]:
def cat(filenames):
  for f in filenames:
    for line in open(f):
      print(line)

In [0]:
#Now, lets say we want to print only the line which has a particular substring, like grep command in unix.
def grep(pattern, filenames):
  for f in filenames:
    for line in open(f):
      if pattern in line:
        print(line)