<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/Flatten_List_of_Lists_Using_Nested_for_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def flatten_list(_2d_list):
  flat_list =[]
  # Iterate through the outer list

  for element in _2d_list:
    # If the element is of type list, iterate through the sublist
    if type(element) is list:
      for item in element:
        flat_list.append(item)
    else:
      flat_list.append(element)

  return flat_list

In [2]:
nested_list = [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
print('Original List', nested_list)
print('Transformed Flat List', flatten_list(nested_list))

Original List [[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]
Transformed Flat List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]