<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/PadhAI_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
weight=input("Please your weight(in Kgs)")
height=input('What is your preference unit of heights?"F" for feet or "M" for meter')
if height =='F':
  feet=input("You will enter height given as feet and inches ")
  inches=input("Now you enter the inches ")
  meters = (feet + inches/12) * 0.3048
elif height=='M':
  feet=input("What is your height in meters ")
else:
  print("invalid height Format type")

Please your weight(in Kgs)72
What is your preference unit of heights?"F" for feet or "M" for meterF
You will enter height given as feet and inches 6
Now you enter the inches 0

In [0]:
def input_single_integer(prompt):
  return int(input(prompt))

In [0]:
def input_single_float(prompt):
  return float(input(prompt))

In [0]:
weight=input_single_float("Please your weight(in Kgs)")
height=input('What is your preference unit of heights?"F" for feet or "M" for meter')
if height =='F':
  feet=input_single_integer("You will enter height given as feet and inches ")
  inches=input_single_integer("Now you enter the inches ")
  meters = (feet + inches/12) * 0.3048
  print(meters)
elif height=='M':
  feet=input_single_float("What is your height in meters ")
else:
  print("invalid height Format type")

BMI = (weight)/ (meters **2)
print(BMI)
if BMI < 18.5:
  print("UNDERWEIGHT")
elif BMI >=18.5 and BMI <25:
  print("NORMAL")
elif BMI >=25 and BMI <30:
  print("OVERWEIGHT")
else:
  print("UNKNOWN CATEGORY")

Please your weight(in Kgs)75
What is your preference unit of heights?"F" for feet or "M" for meterF
You will enter height given as feet and inches 6
Now you enter the inches 0
1.8288000000000002
22.424813368145248
NORMAL

In [0]:
def factorial(n):
  if n==0:
    return 1
  p=1
  for k in range(1,n+1):
    #print(i,p)
    p*=k
  return p

In [0]:
num= factorial(3)
print(num)

6

In [0]:
def factorial_recursive(n):

  if n==1:
    return 1
  else:
    return n * factorial_recursive(n-1)

In [0]:
num=factorial_recursive(5)
print(num)

120

In [0]:
def compute_ratio(x,n):
  ratio= x**n/factorial(n)
  return ratio

In [0]:
print(compute_ratio(2,3))

1.3333333333333333

In [0]:
def compute_sum(x,N):
  sum=1
  for i in range(1,N+1):
    sum += compute_ratio(x,i)
  return sum

In [75]:
print(compute_sum(2,3))

6.333333333333333

In [0]:
def compute_sum_epsilon(x,episolon):
  sum=1
  var= episolon
  i=1
  while var >= episolon:
    var= compute_ratio(x,i)
    sum += var
    i+=1
  return sum

In [86]:
print(compute_sum_epsilon(2,0.01))

7.387301587301587

In [82]:
print(compute_sum(2,100))

7.389056098930649

In [0]:
def compute_sum_epsilon(x,episolon):
  sum=1
  i=1
  while True:
    var= compute_ratio(x,i)
    sum += var
    i+=1
    if var <episolon:
      break
  return sum

In [89]:
print(compute_sum_epsilon(2,0.01))

7.387301587301587

In [90]:
p=2.1
q=1.3
v1= compute_sum(p,100) * compute_sum(q,100)
v2= compute_sum(p+q,100) 
print(v1,v2,v2-v1)

29.964100047397018 29.96410004739703 1.0658141036401503e-14

In [0]:
"a" + "b"

'ab'

In [0]:
"a" - "b"

TypeError: ignored

In [0]:
def temp(a):
  a=10
  return test(a*a)

def test(b):
  return b+1
print(temp(5))

101

In [0]:
a= int(10.333)
b=5
c=a/b
print(type(c))

<class 'float'>

In [0]:
d=1
while d<1:
  print("Viola")
  d= d-1
  #Conditional check in `while` fails, so No output.

In [0]:
def temp(a = 10, b = 10):
    return a*b

c = temp(5)
print(c)

50

In [0]:
a = "HelloWorld"
print(a.find("llo"))
#Prints the position of starting of string “llo” in HelloWorld. (indexing starts from 0)

2

In [0]:
for i in range(10):
    if ( i < 9):
        print(i)
        if (i > 4):
            break
#Prints 0 to 5. When iterating `i` becomes 5 and prints it then `if (i>4)` becomes true which invokes `break`, which breaks the nearest loop (i.e `for`)

0
1
2
3
4
5

In [0]:
a=0
for j in range(1, 10000, 7):
    a = a+j
print(a)

7143571

In [0]:
print( True and False or True and (not 10 and False))
#Decreasing order of precedence brackets, not, and, or. `not` operation on any non-zero number will give False. Kindly read on the web, regarding the order of precedence in Python.

False

In [0]:
def temp():
    return b*b

b = 2
a = temp()
print(a)
#The variable `b` is defined globally before invoking the function `temp()`. Thus the `b` inside `temp()` takes the value of `b` as 2. Python is a dynamically typed language.

4

In [0]:
a = int(10.333)
b = 5
c = a/b
print(type(c))

<class 'float'>

In [0]:
a = int(10.333)
a

10

In [0]:
type(a)

int

In [0]:
b=5
type(b)

int

In [0]:
#In python the default return type of `/` is floating point.

In [0]:
print("datam" > "datan")
#Comparison operator on a string works with lexicographical ordering. The output is false, characters `d`, `a`, `t`, `a` are same in both words but for last letters `m` < `n`

False

In [0]:
data = 0 or 1
if data:
    print("Hello world")
else:
    print("Good Morning")
#Usage of `if` is valid. Variable data will have True as result of `or` operation. Thus “Hello World” is printed

Hello world

In [0]:
a = 10
if a < 11:
    print("Greater Number")
print("Lesser Number")
#`if` condition is true inner `print` executes and control moves outside the block and next `print` gets executed.

Greater Number
Lesser Number

In [0]:
def temp(a):
    a = 10
    return test(a*a)

def test(b):
    return b+1

print(temp(5))
#The value of `a` set inside the `temp()` is taken and used for computing thus 100 is passed to `test()` 1 gets added, returning 101

101

In [0]:
a = "HelloWorld"
print(a[-5])
#-1 points to last letter, thus last 5th character is “W”

W

In [0]:
a = "HelloWorld"
print(a[0:10:2])
#The third value mentioned `2` is the step, which determines increment between each index. So one character is skipped for each character taken

Hlool