<a href="https://colab.research.google.com/github/plthiyagu/Personnel/blob/master/Extract_tabular_data_from_PDF_document_using_Camelot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install "camelot-py[cv]"

Collecting camelot-py[cv]
  Downloading https://files.pythonhosted.org/packages/ed/78/123007d6aff9811bd087ff5dd68e06a9df62b2fdbf7685d74c9d6f247921/camelot_py-0.8.2-py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 1.6MB/s
Collecting pdfminer.six>=20200726
  Downloading https://files.pythonhosted.org/packages/98/12/ab5ebafc4cb2b49847de7bfc26f2d152f42a4af136263152d070c61dfd7d/pdfminer.six-20200726-py3-none-any.whl (5.6MB)
     |████████████████████████████████| 5.6MB 5.8MB/s
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (3.0.4)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (2.5.9)
Collecting PyPDF2>=1.26.0
  Downloading https://files.pythonhosted.org/packages/b4/01/68fcc0d43daf4c6bdbc6b33cc3f77bda531c86b174cac56ef0ffdb96faab/PyPDF2-1.26.0.tar.gz (77kB)
     |████████████████████████████████| 81kB 7.5MB/s
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.18.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (1.0.5)
Requirement already satisfied: opencv-python>=3.4.2.17; extra == "cv" in /usr/local/lib/python3.6/dist-packages (from camelot-py[cv]) (4.1.2.30)
Collecting cryptography
  Downloading https://files.pythonhosted.org/packages/ba/91/84a29d6a27fd6dfc21f475704c4d2053d58ed7a4033c2b0ce1b4ca4d03d9/cryptography-3.0-cp35-abi3-manylinux2010_x86_64.whl (2.7MB)
     |████████████████████████████████| 2.7MB 34.1MB/s
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.2.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.4.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2018.9)
Requirement already satisfied: six>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from cryptography->pdfminer.six>=20200726->camelot-py[cv]) (1.15.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography->pdfminer.six>=20200726->camelot-py[cv]) (1.14.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography->pdfminer.six>=20200726->camelot-py[cv]) (2.20)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-cp36-none-any.whl size=61086 sha256=bcf0adf9461881de3d5bd2ed92945354bb732d894d8d6dfaa9df5deb80dd4c48
  Stored in directory: /root/.cache/pip/wheels/53/84/19/35bc977c8bf5f0c23a8a011aa958acd4da4bbd7a229315c1b7
Successfully built PyPDF2
Installing collected packages: cryptography, pdfminer.six, PyPDF2, camelot-py
Successfully installed PyPDF2-1.26.0 camelot-py-0.8.2 cryptography-3.0 pdfminer.six-20200726

In [2]:
import camelot

In [ ]:
# Syntax of the camelot.read_pdf function 
camelot.read_pdf(
    filepath,
    pages='1',
    password=None,
    flavor='lattice',
    suppress_stdout=False,
    layout_kwargs={},
    **kwargs,
)

In [3]:
filepath='https://raw.githubusercontent.com/plthiyagu/Personnel/master/Dataset/gst-revenue-collection-march2020.pdf'

In [6]:
tables2=camelot.read_pdf('gst-revenue-collection-march2020.pdf', flavor='stream', pages='0-3')
tables2

UserWarning: No tables found in table area 1 [stream.py:360]

In [7]:
tables2[2]

In [8]:
tables2[2].parsing_report

{'accuracy': 99.51, 'order': 1, 'page': 2, 'whitespace': 3.73}

In [9]:
df2=tables2[2].df
df2

                    0  ...       6
0                      ...
1               State  ...  Growth
2   Jammu and Kashmir  ...      6%
3    Himachal Pradesh  ...      5%
4              Punjab  ...      9%
5          Chandigarh  ...     12%
6         Uttarakhand  ...     -3%
7             Haryana  ...      8%
8               Delhi  ...     11%
9           Rajasthan  ...      7%
10      Uttar Pradesh  ...      6%
11              Bihar  ...     18%
12             Sikkim  ...     17%
13  Arunachal Pradesh  ...     46%
14           Nagaland  ...     40%
15            Manipur  ...     41%
16            Mizoram  ...     39%
17            Tripura  ...     22%
18          Meghalaya  ...     11%
19              Assam  ...     16%
20        West Bengal  ...      9%
21          Jharkhand  ...     -4%
22             Odisha  ...     10%

[23 rows x 7 columns]

In [10]:
tables2[3]
tables2[3].parsing_report

{'accuracy': 100.0, 'order': 1, 'page': 3, 'whitespace': 9.29}

In [11]:
df3=tables2[3].df
df3

                         0       1       2     3         4         5     6
0             Chhattisgarh   2,143   2,093   -2%    22,932    24,160    5%
1           Madhya Pradesh   2,624   2,407   -8%    25,683    28,354   10%
2                  Gujarat   6,521   6,820    5%    73,440    78,923    7%
3            Daman and Diu     103      95   -8%     1,105     1,155    5%
4   Dadra and Nagar Haveli     174     169   -3%     1,718     1,810    5%
5              Maharashtra  15,596  15,002   -4%  1,70,289  1,85,917    9%
6                Karnataka   6,983   7,144    2%    78,763    83,408    6%
7                      Goa     389     316  -19%     4,103     4,280    4%
8              Lakshadweep       1       1   54%        20        20    2%
9                   Kerala   1,635   1,475  -10%    16,343    19,234   18%
10              Tamil Nadu   6,941   6,178  -11%    70,562    74,430    5%
11              Puducherry     184     149  -19%     1,924     1,871   -3%
12                 Andaman
13                              28      39   40%       297       361   21%
14         &NicobarIslands
15               Telangana   3,897   3,563   -9%    36,408    39,820    9%
16          Andhra Pradesh   2,589   2,548   -2%    25,331    27,108    7%
17         Other Territory     167     133  -21%     2,484     1,753  -29%
18     Center Jurisdiction      74      81   10%       580     1,003   73%
19                   Total  82,165  78,700   -4%  8,76,794  9,44,414    8%

In [12]:
df4=df2.append(df3)
df4

                         0  ...       6
0                           ...
1                    State  ...  Growth
2        Jammu and Kashmir  ...      6%
3         Himachal Pradesh  ...      5%
4                   Punjab  ...      9%
5               Chandigarh  ...     12%
6              Uttarakhand  ...     -3%
7                  Haryana  ...      8%
8                    Delhi  ...     11%
9                Rajasthan  ...      7%
10           Uttar Pradesh  ...      6%
11                   Bihar  ...     18%
12                  Sikkim  ...     17%
13       Arunachal Pradesh  ...     46%
14                Nagaland  ...     40%
15                 Manipur  ...     41%
16                 Mizoram  ...     39%
17                 Tripura  ...     22%
18               Meghalaya  ...     11%
19                   Assam  ...     16%
20             West Bengal  ...      9%
21               Jharkhand  ...     -4%
22                  Odisha  ...     10%
0             Chhattisgarh  ...      5%
1           Madhya Pradesh  ...     10%
2                  Gujarat  ...      7%
3            Daman and Diu  ...      5%
4   Dadra and Nagar Haveli  ...      5%
5              Maharashtra  ...      9%
6                Karnataka  ...      6%
7                      Goa  ...      4%
8              Lakshadweep  ...      2%
9                   Kerala  ...     18%
10              Tamil Nadu  ...      5%
11              Puducherry  ...     -3%
12                 Andaman  ...
13                          ...     21%
14         &NicobarIslands  ...
15               Telangana  ...      9%
16          Andhra Pradesh  ...      7%
17         Other Territory  ...    -29%
18     Center Jurisdiction  ...     73%
19                   Total  ...      8%

[43 rows x 7 columns]

In [14]:
df5=df4[1:]
df5.head()
new_header = df5.iloc[0]
df5 = df5[1:]
df5.columns = new_header

In [15]:
df5.head()

1              State Mar-19 Mar-20 Growth 2018-19 2019-20 Growth
2  Jammu and Kashmir    388    276   -29%   3,792   4,010     6%
3   Himachal Pradesh    660    596   -10%   7,593   7,960     5%
4             Punjab  1,166  1,181     1%  13,979  15,235     9%
5         Chandigarh    162    153    -5%   1,779   1,988    12%
6        Uttarakhand  1,451  1,195   -18%  15,150  14,722    -3%