<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/15-LeetCode/1151_Minimum_Swaps_to_Group_All_1's_Together_LeetCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Time:  O(n)
# Space: O(1)

def minSwaps(data):
    """
    :type data: List[int]
    :rtype: int
    """
    total_count = sum(data)
    result, count, left = 0, 0, 0
    for i in range(len(data)):
        count += data[i]
        if i-left+1 > total_count: 
            count -= data[left]
            left += 1
        result = max(result, count)
    return total_count-result

In [4]:
data=[1,0,1,0,1]
minSwaps(data)

1