<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/22-LeetCode/Multiplication_table_for_number_CodeWar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def multi_table(number):
       return '\n'.join(f'{i} * {number} = {i * number}' for i in range(1, 11))

In [2]:
multi_table(5)

'1 * 5 = 5\n2 * 5 = 10\n3 * 5 = 15\n4 * 5 = 20\n5 * 5 = 25\n6 * 5 = 30\n7 * 5 = 35\n8 * 5 = 40\n9 * 5 = 45\n10 * 5 = 50'

In [3]:
def multi_table(number):
    table = ["{0} * {1} = {2}".format(i, number, i * number) for i in range(1, 11)]
    return '\n'.join(table)