<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/15-LeetCode/Square_of_the_list_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Lists
#1. Program to square of the list values
lst = [1,2,3,4]
#using simple function
def sum_list(lst):
  ret=[]
  for i in lst:
    ret.append(i**2)
  return ret
output = sum_list(lst)
print(output)

[1, 4, 9, 16]

In [8]:
lst = [1,2,3,4]
[x **2 for x in lst ]

[1, 4, 9, 16]