<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/How_to_Iterate_over_Rows_in_a_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.DataFrame({
    'first_name': ['John', 'Jane', 'Marry', 'Victoria', 'Gabriel', 'Layla'],
    'last_name': ['Smith', 'Doe', 'Jackson', 'Smith', 'Brown', 'Martinez'],
    'age': [34, 29, 37, 52, 26, 32]},
    index=['id001', 'id002', 'id003', 'id004', 'id005', 'id006'])

In [2]:
print(df.to_string())

      first_name last_name  age
id001       John     Smith   34
id002       Jane       Doe   29
id003      Marry   Jackson   37
id004   Victoria     Smith   52
id005    Gabriel     Brown   26
id006      Layla  Martinez   32

In [3]:
df.items()

In [5]:
for col_name, data in df.items():
  print("col_name:",col_name, "\ndata:",data)

col_name: first_name
data: id001        John
id002        Jane
id003       Marry
id004    Victoria
id005     Gabriel
id006       Layla
Name: first_name, dtype: object
col_name: last_name
data: id001       Smith
id002         Doe
id003     Jackson
id004       Smith
id005       Brown
id006    Martinez
Name: last_name, dtype: object
col_name: age
data: id001    34
id002    29
id003    37
id004    52
id005    26
id006    32
Name: age, dtype: int64

In [6]:
for col_name, data in df.items():
	print("col_name:",col_name, "\ndata:",data[1])

col_name: first_name
data: Jane
col_name: last_name
data: Doe
col_name: age
data: 29

In [7]:
for col_name, data in df.items():
	print("col_name:",col_name, "\ndata:",data['id002'])

col_name: first_name
data: Jane
col_name: last_name
data: Doe
col_name: age
data: 29

In [8]:
for i, row in df.iterrows():
	print(f"Index: {i}")
	print(f"{row}\n")

Index: id001
first_name     John
last_name     Smith
age              34
Name: id001, dtype: object

Index: id002
first_name    Jane
last_name      Doe
age             29
Name: id002, dtype: object

Index: id003
first_name      Marry
last_name     Jackson
age                37
Name: id003, dtype: object

Index: id004
first_name    Victoria
last_name        Smith
age                 52
Name: id004, dtype: object

Index: id005
first_name    Gabriel
last_name       Brown
age                26
Name: id005, dtype: object

Index: id006
first_name       Layla
last_name     Martinez
age                 32
Name: id006, dtype: object

In [13]:
for i, row in df.iterrows():
	print(f"Index: {i}")
	print(f"{row[0]}")

Index: id001
John
Index: id002
Jane
Index: id003
Marry
Index: id004
Victoria
Index: id005
Gabriel
Index: id006
Layla

In [10]:
for i, row in df.iterrows():
	print(f"Index: {i}")
	print(f"{row['first_name']}")

Index: id001
John
Index: id002
Jane
Index: id003
Marry
Index: id004
Victoria
Index: id005
Gabriel
Index: id006
Layla

In [11]:
for row in df.itertuples():
    print(row)

Pandas(Index='id001', first_name='John', last_name='Smith', age=34)
Pandas(Index='id002', first_name='Jane', last_name='Doe', age=29)
Pandas(Index='id003', first_name='Marry', last_name='Jackson', age=37)
Pandas(Index='id004', first_name='Victoria', last_name='Smith', age=52)
Pandas(Index='id005', first_name='Gabriel', last_name='Brown', age=26)
Pandas(Index='id006', first_name='Layla', last_name='Martinez', age=32)

In [14]:
for row in df.itertuples(index=False):
    print(row)

Pandas(first_name='John', last_name='Smith', age=34)
Pandas(first_name='Jane', last_name='Doe', age=29)
Pandas(first_name='Marry', last_name='Jackson', age=37)
Pandas(first_name='Victoria', last_name='Smith', age=52)
Pandas(first_name='Gabriel', last_name='Brown', age=26)
Pandas(first_name='Layla', last_name='Martinez', age=32)

In [15]:
for row in df.itertuples(index=False, name='People'):
    print(row)

People(first_name='John', last_name='Smith', age=34)
People(first_name='Jane', last_name='Doe', age=29)
People(first_name='Marry', last_name='Jackson', age=37)
People(first_name='Victoria', last_name='Smith', age=52)
People(first_name='Gabriel', last_name='Brown', age=26)
People(first_name='Layla', last_name='Martinez', age=32)