<a href="https://colab.research.google.com/github/plthiyagu/AI-Engineering/blob/master/03-Pandas/Pandas_agg_tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [3]:
def count_two(nums: list):
  return Counter(nums)[2]

In [5]:
df = pd.DataFrame({'coll': [1, 3, 5],'col2': [2, 4, 6]})
print(df)
print(df.agg(['sum', count_two]))

   coll  col2
0     1     2
1     3     4
2     5     6
           coll  col2
sum           9    12
count_two     0     1